 

.email-id{
  color: black;
  margin-left: 8%;
    background-color: white;
    /* margin-bottom: 1%;   */
}

.email_input {
  background-color: white;
  border-radius: 10px;
  border-color: rgb(160, 159, 159);
  color: rgb(6, 6, 6);
  width: 90%; 
  max-width: 360px;
  padding: 1% 2% ;
  margin-left: 5%;
  margin-top: 1%;
}

.to-login{
    align-items: center;
    text-align: center;
}

  /* .forgot-password-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .forgot-password-form {
    display: flex;
    flex-direction: column;
  }
  
  .forgot-password-form label {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .forgot-password-form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .forgot-password-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .forgot-password-form button:hover {
    background-color: #0056b3;
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .success-message {
    color: green;
    margin-top: 10px;
  }
   */