@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aclonica', sans-serif;
    -webkit-tap-highlight-color: transparent;
}
.Main-bar{
    height: 105px;
    width: 100%;
    background-color: rgb(157, 179, 211);
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: center;
    gap: 6%;
    padding: 4.5% 3%;
}

.Website-Logo img{
    height: 105px;
    width: 120px;
    margin-left: 100px;
}

.Website-title{
    text-align: center;
    font-family: 'Aclonica', sans-serif;
    font-size: x-large;
    font-family: 'Oswald', sans-serif;
    color: blue;
}
.Title{
    color: red;
    font-family: roboto condensed,sans-serif;
    text-align: center;
    font-size: large;
    font-weight: 700;
}
.PICT_NAME{
    font-size: x-large;
    color: #0039ff;
    font-family: roboto condensed,sans-serif;
    font-weight: 700;

}

.College-logo img{
    height: 100px;
    width: 100px;
}







@media (max-width: 1160px){
    .College-logo img{
        height: 92px;
        width: 92px;
    }
    .Main-bar{
        height: 100px;
    }
}
@media (max-width: 1000px){
    .Main-bar{
        width: 100%;
        height: fit-content;
        padding-right: 1%;
        overflow-x: auto;
    } 
    .Title{
        text-align: center;
        font-size: large;
        font-family: roboto condensed,sans-serif;        
        color: red;
    }
    .PICT_NAME{
        font-size: x-large;
        color: #0039ff;
        font-family: roboto condensed,sans-serif;
        font-weight: 700;
    }
    .Website-Logo{
        display: none;
    }
    .College-logo{
        height: 90px;
        width: 90px;
    }
}
@media (max-width: 500px){
    .Main-bar{
        width: 100%;
        overflow-x: auto;
    } 
    .Title{
        text-align: center;
        font-size: large;        
        font-family: roboto condensed,sans-serif;
        color: red;
        font-size: 50%;
    }
    .PICT_NAME{
        font-size: 80%;
    }
    .College-logo img{
        height: 80px;
        width: 80px;
    }
}